
@keyframes mainExpcsBackgroundTimeColorChange {
    0%, 35% {
      background-color: #49398d;
    }
    90%, 100% {
      background-color: rgb(0, 131, 131);
    }
  }


.footer {
    font-size: 0.8rem;
    text-align: center;
    background-color: linear-gradient(90deg, #3D3072 0%, #423477 100%);
    animation: mainExpcsBackgroundTimeColorChange 7s infinite alternate;
    padding: 1rem;
}